.profile-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user-image {
  width: 150px;
}
.user {
  font-family: 'roboto';
  color: #12022f;
}
.role {
  color: #9aa5b1;
  font-size: 20px;
}
